<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TagOrder 주문관리</title>
  <script src="test_js.js"></script>
  <link href="./allcss.css" rel="stylesheet">
</head>
<body>
  <div class="grid-container">
    <% items1.forEach(item => { %>
      <div class="menu_container">
        <p><%= item.id %></p>
        <h2><%= item.name %></h2>
        <img src="<%= item.image_url %>" alt="<%= item.name %>">
        <p>Price: $<%= item.price %></p>
        <p><%= item.description %></p>
        <form action = '/admin_addel' method="POST">
          <input type="hidden" name="id" value="<%= item.id %>">
          <button type="submit">메뉴 삭제</button>
        </form>
      </div>
    <% }) %>
  </div> 
  
  <br>
  
  <div><h1>메뉴 추가</h1>
  <form action="/admin_adTomenu" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="image_url">Image URL:</label>
    <input type="text" id="image_url" name="image_url" required><br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" step="0.01" required><br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea><br>
    <button type="submit">Add Item</button>
    </form>

    <div>
      <h1>테스트 이미지 업로드</h1>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="myFile" />
        <button type="submit">Upload</button>
    </form>
    </div>

    <div>
      <h1>이미지 업로드</h1>
      <form action="/Storeimg_upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="myFile" />
        <button type="submit">Upload</button>
    </form>
    </div>
</div>
</body>
</html>